.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px;
  /* min-height: 30rem; */
  height: 70vh;
  width: 700px;
}
form {
  width: 350px;
  border-radius: 5px;
  padding: 20px;
  background-image: linear-gradient(to left, blue, white);
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

.name-field {
  margin-bottom: 40px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  width: 350px;
  height: 50vh;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
  margin-bottom: 10px;
  background-color: blanchedalmond;
  /* background-image: linear-gradient(to right, white, blue); */
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}

.left {
  display: flex;
}
.boxright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.boxleft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: blueviolet;
}

.chat_nav_container {
  display: flex;
}
.sidebar {
  /* border: 1px solid red; */
  background-image: linear-gradient(to bottom, blue, white);
}
